<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  // Select elements
  const clear = document.querySelector(".clear");
  const dateElement = document.querySelector("#date");

  const list = document.querySelector("#list");
  const header = document.querySelector(".header");

  // Classes name
  const CHECK = "fa-check-circle";
  const UNCHECK = "fa-circle-thin";
  const LINE_THROUGH = "line_through";
  
  /* ========= Time ========= */

  // Get dateformat
  const options = {
    weekday: "long",
    month: "short",
    day: "numeric",
  };
  
  const today = new Date();
  const time = new Date().getHours();

  dateElement.innerHTML = today.toLocaleDateString("en-US", options);

  if (time >= 0 && time < 12)
    header.style.backgroundImage = "url(./img/morning.png)";
  else if (time >= 12 && time < 18)
    header.style.backgroundImage = "url(./img/afternoon.png)";
  else if (time >= 18 && time < 21)
    header.style.backgroundImage = "url(./img/evening.jpg)";
  else header.style.backgroundImage = "url(./img/night.jpg)";

  /* ========= Todo list function helper ========= */

  // Add
  function addToDo(toDo, done, id = 1) {
    const DONE = done ? CHECK : UNCHECK;
    const LINE = done ? LINE_THROUGH : "";

    const item = `<li class="item">
      <i class="fa ${DONE} co" job="complete" data-id=${id}></i>
      <p class="text ${LINE}">${toDo}</p>
      <i class="fa fa-trash-o de" job="delete" data-id=${id}></i>
    </li>`;

    list.insertAdjacentHTML("beforeend", item);
  }

  // Complete
  function completeToDo(element) {
    element.classList.toggle(CHECK);
    element.classList.toggle(UNCHECK);
    element.nextElementSibling.classList.toggle(LINE_THROUGH);
  }

  /* ========= Events ========= */

  // Press enter to add
  document.addEventListener("keypress", (e) => {
    if (e.keyCode === 13) {
      e.preventDefault();
      const name = document.querySelector("#input").value;

      document.querySelector("#done").value = false;
      document.querySelector("#input").value = "";
      
      if (name) 
        axios.post('/', ({name, done: document.querySelector("#done").value})).then(res => {
          if (res.data !== "Da ton tai")
            addToDo(res.data.name, false, res.data._id);           
        });
    }
  });

  // Click to complete or remove
  list.addEventListener("click", (e) => {
    const element = e.target;
    const { value } = e.target.attributes.job;
    const url = `/${element.dataset.id}`;

    if (value === "delete") {
      element.parentElement.remove();
      axios.delete(url);

    } else if (value === "complete") {
      completeToDo(element);
      axios.patch(url);
    }
  });

  // Click to clear all to-do
  clear.addEventListener('click', (e) => {
    axios.delete('/');
    list.innerHTML = "";
  })

</script>